html {
    height: 100%;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__480.png");
    /* background-repeat: space; */
    /* background-repeat: repeat; */
    /* background-repeat: round; */
    background-repeat: no-repeat;
    background-position: 15px bottom;
}